RPA Developer AI.json
{
  "name": "RPA Developer AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "5946e9ff-cc0e-4ff5-a95b-265033233cf0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1168,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sourceFolderId",
              "value": "<__PLACEHOLDER_VALUE__Source Google Drive Folder ID__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "destinationFolderId",
              "value": "<__PLACEHOLDER_VALUE__Destination Google Drive Folder ID__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "splitCriteria",
              "value": "<__PLACEHOLDER_VALUE__Split criteria (e.g., page number like 5, or keyword)__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "telegramChatId",
              "value": "<__PLACEHOLDER_VALUE__Telegram Chat ID or Channel Username__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e94a8a0d-2f70-448e-a46b-6df6d7ae165b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        368
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Fp2DJYCfRgqltZUB_5BF-RbIK8WBIjd7",
          "mode": "list",
          "cachedResultName": "RPA Developer Candidate Assignment - make (2) (3) (1).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Fp2DJYCfRgqltZUB_5BF-RbIK8WBIjd7/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "4295cae9-ec38-41b0-ad58-94c1b1f4b5d9",
      "name": "Download PDF from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TVm03FScaRoeT80U",
          "name": "hasnainoffice93@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "2ce723a3-d1a4-492b-9418-0b6faee48181",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -496,
        368
      ]
    },
    {
      "parameters": {
        "chatId": "=7030903484",
        "text": "=**Process Completed Successfully!**\n\nThe PDF file has been downloaded from Google Drive, split into two Word documents, and saved to the designated folder.\n\nTimestamp: {{ $now.toISO() }}",
        "additionalFields": {}
      },
      "id": "212d163d-d49d-4b1b-9f25-6afe2706aca2",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        368
      ],
      "webhookId": "bf577814-f813-4cc0-b1c5-6a5388c37b3a",
      "credentials": {
        "telegramApi": {
          "id": "btTiMkdIgXa2w5FZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4bb280f4-7b0b-4ff8-b831-43f147e4c0d4",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "<__PLACEHOLDER_VALUE__Telegram Chat ID or Channel Username__>",
        "text": "=**Error During Process!**\n\nAn error occurred during the PDF processing workflow.\n\nError: {{ $json.error.message }}\nNode: {{ $json.error.node.name }}\nTimestamp: {{ $now.toISO() }}\n\nPlease check the workflow logs for details.",
        "additionalFields": {}
      },
      "id": "6e11e090-13bc-4b1d-ab1a-0e247096f04f",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -944,
        688
      ],
      "webhookId": "fec3a187-f2a8-4960-b209-c409ca820229",
      "credentials": {
        "telegramApi": {
          "id": "btTiMkdIgXa2w5FZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input items\nconst items = $input.all();\nconst outputItems = [];\n\n// Function to create Word-compatible HTML\nconst createWordHTML = (text, title) => {\n    const safeText = String(text || '');\n    return `<!DOCTYPE html>\n<html xmlns:o='urn:schemas-microsoft-com:office:office'\n      xmlns:w='urn:schemas-microsoft-com:office:word'\n      xmlns='http://www.w3.org/TR/REC-html40'>\n<head>\n<meta charset='utf-8'>\n<title>${title}</title>\n</head>\n<body>\n<div style='font-family: Arial, sans-serif; font-size: 12pt;'>\n${safeText.replace(/\\n/g, '<br>')}\n</div>\n</body>\n</html>`;\n};\n\n// Loop through input items\nfor (let index = 0; index < items.length; index++) {\n    const item = items[index];\n    const text = item?.json?.text || '';\n\n    if (!text) continue; // skip empty\n\n    // Split text into 2 halves\n    const halfway = Math.floor(text.length / 2);\n    const firstHalf = text.slice(0, halfway).trim();\n    const secondHalf = text.slice(halfway).trim();\n\n    // Create Word HTML content\n    const html1 = createWordHTML(firstHalf, `Document 1 part ${index + 1}`);\n    const html2 = createWordHTML(secondHalf, `Document 2 part ${index + 1}`);\n\n    // Convert HTML to base64 (binary)\n    const buffer1 = Buffer.from(html1, 'utf-8');\n    const buffer2 = Buffer.from(html2, 'utf-8');\n\n    // Return two items\n    outputItems.push(\n        {\n            json: { id: 1, filename: `part1_${index + 1}.doc` },\n            binary: {\n                DOC1: {\n                    data: buffer1.toString('base64'),\n                    mimeType: 'application/msword',\n                    fileName: `part1_${index + 1}.doc`\n                }\n            }\n        },\n        {\n            json: { id: 2, filename: `part2_${index + 1}.doc` },\n            binary: {\n                DOC2: {\n                    data: buffer2.toString('base64'),\n                    mimeType: 'application/msword',\n                    fileName: `part2_${index + 1}.doc`\n                }\n            }\n        }\n    );\n}\n\nreturn outputItems;\n"
      },
      "id": "69dde823-7127-4981-8ad5-d33814903d9d",
      "name": "Split PDF into Two DOCS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        368
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "DOC2",
        "name": "SECOND DOC FILE",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "18bkaOuPqm-MDS_rcRdhQiFj7NXU7Un_u",
          "mode": "list",
          "cachedResultName": "UPDATE DOC 2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18bkaOuPqm-MDS_rcRdhQiFj7NXU7Un_u"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        496
      ],
      "id": "2353e08b-bebf-437d-ad55-821ac5d915e2",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TVm03FScaRoeT80U",
          "name": "hasnainoffice93@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputDataFieldName": "DOC3",
        "name": "FIRST DOC FILE",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10ZG9J5FUa6tC6rvsvI-PgeUsl32WXigi",
          "mode": "list",
          "cachedResultName": "UPDATE DOC 1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10ZG9J5FUa6tC6rvsvI-PgeUsl32WXigi"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        256
      ],
      "id": "45d9218d-a293-464d-8cab-e43b38d26b09",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TVm03FScaRoeT80U",
          "name": "hasnainoffice93@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "Download PDF from Google Drive": [
      {
        "json": {},
        "binary": {
          "data": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "RPA Developer Candidate Assignment - make (2) (3) (1).pdf",
            "id": "filesystem-v2:workflows/XcwbA7eGVTfF5YAQ/executions/1169/binary_data/e41ec9be-b8a3-4210-84da-aa9e9f0d3816",
            "fileSize": "72.2 kB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        []
      ]
    },
    "Download PDF from Google Drive": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Split PDF into Two DOCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split PDF into Two DOCS": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "775f287c-e15b-47a7-8704-e1e5859d43e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36f39aa3ac05c0abe904f36347bfe5331e27b7d20391d8542c24b27dd55aa430"
  },
  "id": "XcwbA7eGVTfF5YAQ",
  "tags": []
}